* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.medsos {
	padding: 10px 0;
	background-color: #ff9292; 
}

.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
	float: right;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.container:after {
	content: '';
	display: block;
	clear: both;
}

.logo{
	float:left;
}
.logo img {
	width: 30%;
}

header ul {
	float: right;
}

header ul li {
	display: inline-block;
} 

header ul li a{
	display: inline-block;
	padding: 25px 20px;
}

header ul li a:hover {
	color: #FAB0B0; 
}

.active {
	color: #FAB0B0; 
}

.banner {
	height: 60vh;
	background-image: url('../images/banner.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(238, 252, 240, .4);
}

.banner h2 {
	color: #fff;
	line-height: 1.5em;
	z-index: 1;
	padding: 20px 25px;
	background: #ff9292;
	border: 3px solid #fff;
}

section {
	padding: 50px 0;
}

.mygalery-header {
	margin-top: 50px;
	text-align: center;
}

.mygalery-header h3 {
	font-size: 2.5em;
	font-family: 'Arvo', serif;
	font-weight: 400;
	color: #010101;
}
.mygalery-header h3 span{
	color: #010101;
}

.h3, h3 {
    font-size: 30px;
    font-weight: 700;
    color: #3a3a3a;
    margin-bottom: 15px;
}

.img-responnsive {
    max-width: 100%;
    display: block;
    height: auto;
}

.table, td {
	padding: 10px 20px;
	text-align: center;
}

img {
     width: 200px;
     border: 4px solid #fff;
     padding: 10px;
     margin: 20px;
}
