* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.medsos {
	padding: 10px 0;
	background-color: #ff9292; 
}

.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
	float: right;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.container:after {
	content: '';
	display: block;
	clear: both;
}

.logo{
	float:left;
}
.logo img {
	width: 25%;
}

header ul {
	float: right;
}

header ul li {
	display: inline-block;
} 

header ul li a{
	display: inline-block;
	padding: 25px 20px;
}

header ul li a:hover {
	color: #FAB0B0; 
}

.active {
	color: #FAB0B0; 
}
section {
	padding: 50px 0;
}

.aboutme-header {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.aboutme-header h2 {
	font-size: 2.5em;
	font-family: 'Arvo', serif;
	font-weight: 400;
	color: #010101;
	margin-right: auto;
	margin-left: auto;
}
.aboutme-header h2 span{
	color: #010101;
}

img {
	float: center;
	width: 25%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2%;
}

.aboutme-text {
	float: center;
	width: 60%;
	margin-top:2%; 
	margin-right: auto;
	margin-left: auto;
}
.aboutme-text p {
	text-align: center;
	font-size: 15px;
	color: #7e7e7e;
	line-height: 1.5em;
}

.aboutme-list {
	float: center;
	list-style-position: inside;
	width: 65%;
	margin-top:0%; 
	margin-right: auto;
	margin-left: 47%;
	font-size: 15px;
	color: #7e7e7e;
	line-height: 1.5em;
}
