* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.medsos {
	padding: 10px 0;
	background-color: #ff9292; 
}

.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
	float: right;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.container:after {
	content: '';
	display: block;
	clear: both;
}

.logo{
	float:left;
}
.logo img {
	width: 25%;
}

header ul {
	float: right;
}

header ul li {
	display: inline-block;
} 

header ul li a{
	display: inline-block;
	padding: 25px 20px;
}

header ul li a:hover {
	color: #FAB0B0; 
}

.active {
	color: #FAB0B0; 
}
section {
	padding: 50px 0;
}

.myprojects-header {
	text-align: center;
}

.myprojects-header h2 {
	font-size: 2.5em;
	font-family: 'Arvo', serif;
	font-weight: 400;
	color: #010101;
}
.myprojects-header h2 span{
	color: #010101;
}

.table {
	font-family: sans-serif;
	color: #ff9292;
	border-collapse: collapse;
	width: 50%;
	border: 1px solid #ffdcdc;
	margin-top: 50px;
}

.table tr th {
	background: #FBAFAF;
	color: #fff;
	font-weight: normal;
}

.table, th, td {
	padding: 8px 20px;
	text-align: center;
}

.table tr:nth-child(even){
	background: #ffe8e8;
}

.space-header {
	text-align: center;
}

.space-header h2 {
	font-size: 6.3em;
	font-family: 'Arvo', serif;
	font-weight: 400;
	color: #fff;
}